#program{
    padding-top: 5rem;
    color: white;   
    padding: 5vh 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.program-btn{
    transition: .4s;
    background-color: #f6ac54;
    padding: 10px 25px;
    border-radius: 25px;
}

.program-btn:hover{
    transform: scale(1.025);
    transition: .4s;
    background-color: #f7a33c;
}

#cards{
    height: 400px;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

@media (max-width:767px) {
#cards{
    gap: 5vw;
}


#cards > div{
    transition: .4s;
}

#cards > :hover{
    background-color: #2b2d2f;
    cursor: pointer;
    transition: .4s;
    transform: translateY(-10px);
}

.program-texts{
    justify-content: center;
    
}

.program-texts h1{
    font-size: 32px;
}

.program-texts svg{
    width: 32px;
}

}